<footer id="page-footer">

    <div class="footer">

        <div class="footer-img">
            <img src="/img/BoxParaVosLogo.png" alt="BoxParaVos-Logo" class="logo-footer">
        </div>

        <div class="footer-hiper">
            <h2 class="footer-title">Contacto</h2>
            <div class="footer-hiper-content">
                <ul class="footer-list">
                    <li class="footer-items">351-2548-9854</li>
                    <li class="footer-items">boxparavos@dhmail.com</li>
                    <li class="footer-items">BsAs, Argentina</li>
                </ul>
            </div>
        </div>

        <div class="footer-icons">
            <ul class="footer-list">
                <li class="footer-items fo-list-icon"> <i class="fab fa-instagram"></i> </li>
                <li class="footer-items fo-list-icon"> <i class="fab fa-facebook-square"></i> </li>
                <li class="footer-items fo-list-icon"> <i class="fab fa-pinterest-square"></i> </li>
            </ul>
        </div>
    </div>

</footer>