 /*Tamaños y detalles*/
.pc-product-img{
     width: 20%;
     padding: 5px 0px;
}

.pc-main-price {
     font-family: Bebas Neue;
     font-size: 14px;
     font-weight: 400;
     text-align: center;
}

.pc-product-title{
     font-family: Bebas Neue;
     font-size: 16px;
     font-weight: 400;
     max-width: 100px;
}

.pc-product-description{
     font-size: 10px;
     width: 300px;
     display: none;
}

#pc-quantity-button{
     width: 30px;
     height: 15px;
     border: none;
     background-color:  #E5167F;
     color: white;
     border-radius: 3px;
     font-size: 10px;
     margin: 0;
     padding: 0;
}

#pc-trash-button{
     width: 25px;
     height: 25px;
     background-color: #E5167F;
     color: white;
     border: none;
     border-radius: 5px;
     font-size: 8px;
     transition: all 450ms;
}
/*Article Section*/

.pc-top-section{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.pc-article-section{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     border: none;
     margin: 10px 15px;
     background-color: white;
     border-radius: 5px;
     max-width: 700px;
}

.pc-article-left-section{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     width: 60%;
}

.pc-article-right-section{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     width: 40%;
}

.pc-price-container{
     display: flex;
     flex-direction: column;
     text-align: center;
}

.pc-price-container h3{
     font-size: 6px;
}

/*Buy Section*/

.pc-buy-article{
    width: 100%;
    max-width: 888.16px;
    display: flex;
    justify-content: center;
}

.pc-buy-section{
     display: flex;
     flex-direction: column;
     border: none;
     border-radius: 5px;
     background-color: white;
     margin: 10px 15px;
     width: 100%;
     max-width: 400px;
}

.pc-buy-top{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     margin-top: 5px;
}

.pc-buy-top h2{    
     font-family: Bebas Neue;
     font-weight: 400;
     font-size: 16px;
}

.pc-buy-bot{
     font-family: Bebas Neue;
     padding: 2px 0px;
     margin: 5px 15px;
     background-color: #E5167F;
     border: none;
     border-radius: 5px;
     color: white;
     transition: all 450ms;
}

@media (min-width: 1200px){

    .pc-product-description{
         display: initial;
    }
    
    .pc-article-data{
         width: 70%;
         padding: 10px 10px;
    }

    .pc-product-title{
         max-width: 100%;
    }

    .pc-article-right-section{
         width: 30%;
    }

    .pc-article-left-section{
         width: 70%;
    }

    .pc-article-section{
         max-width: 100%;
    }

    .pc-product-img{
         max-width: 85px;
    }

    .pc-main-price{
         font-size: 20px;
    }

    .pc-price-container h3{
         font-size: 8px;
    }

    #pc-quantity-button{
         width: 40px;
         height: 25px;
    }

    .pc-buy-article{
         justify-content: flex-end;
    }

    .pc-buy-top{
         justify-content: space-between;
         margin: 10px 15px;
    }

    .pc-buy-top h2{
         font-size: 20px;  
    }

    .pc-buy-bot:hover{
         background-color: #eba91b;
    }

    #pc-trash-button:hover{
         background-color: #eba91b;
    }
}