#register-login-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 5% 10%;
}


/*LOG-IN*/

#log-in {
    width: 100%;
    display: flex;
    height: 100%;
    padding: 0; 
}
#log-in-form {
    width: 100%;;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    margin: auto;
    border-radius: 2vw;
    box-shadow: 0px 0px 20px rgb(150,150, 150);
    background-color: white;
}
#log-in-title {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 6vw;
    color: rgb(150, 150, 150);
    font-family: "Bebas Neue";
}
#name-pass-box {
    width: 100%;
    margin: auto;
}
.login-input-box { 
    display: flex;
    width: 100%;
    margin: 7% auto;
    justify-content: space-around;
    align-content: space-around;  
}
.in-put, #birth-date {      /*<--css repetido en register*/
    color: #666;     
    padding: 4px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-style: none;
    padding: 2%;
    background-color: rgb(240, 240, 240);   
}
#remember-forgot-box {
    justify-content: space-between;
    padding: 0;
}
#remember-me-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#remember {
    margin-right: 5px;
}
#remember-me-label, #forgot-span {
    font-size: 12px;
    margin-right: 0;
}
#log-in-button {
    background-color: #E5167F;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 2%;
    width: 100%;
    transition: all 150ms;
}




/*REGISTER*/

#register {
    display: flex;
    width: 100%;
    margin:2%;
}
#register-form {
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    margin: auto;
    border-radius: 2vw;
    box-shadow: 0px 0px 20px rgb(150, 150, 150);
    background-color: white;
}
#check-in-title {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 6vw;
    color: rgb(150, 150, 150);
    font-family: "Bebas Neue";
}
.input-box, #log-in-title, #check-in-title {  
    display: flex;
    width: 100%;
    margin: 2% auto;
    justify-content: space-around;
    align-content: space-around; 
}
.in-put, #birth-date {      /*<--css repetido en log in*/
    color: #666;     
    padding: 4px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-style: none;
    padding: 2%;
    background-color: rgb(240, 240, 240);
}
#send-button {
    background-color: #E5167F;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 2%;
    width: 100%;
    transition: all 150ms;
}



/*MEDIA QUERIES*/

@media (min-width: 768px){
    #log-in, #register {
        width: 47%;
        display: flex;
        margin:0%;
        height: 100%; 
    }
    #register-login-main {
        display: flex;
        padding: 0 auto;
    }
    #log-in-form, #register-form {
        margin: 0;  
        height: 100%;  
    }
    #check-in-title, #log-in-title {
        font-size: 5vw;
    }
}

@media (min-width: 1200px){
    #log-in-button:hover {
        background-color: #eba91b;
    }
    #log-in-form:hover #log-in-title {
        color: #E5167F;
    }
    #send-button:hover {
        background-color: #eba91b;
    }
    #register-form:hover #check-in-title {
        color: #E5167F;
    }
}